@page "/addplug"
@using Blazorise.Components;
@using Elektrifikatsiya.Models;
@using System.Net
@using Elektrifikatsiya.Services
@using Elektrifikatsiya.Services.Implementations
@using Elektrifikatsiya.Utilities
@inject IVersionProvider VersionProvider
@inject IDeviceManagmentService DeviceManagmentService
@inject IAuthenticationService AuthenticationService 

<Row Height=Height.Is50 Padding="Padding.Is3.OnDesktop.Is0">
	<Column ColumnSize="ColumnSize.Is12" style="border-bottom-style:solid; border-bottom-color:#1a237e">
		<ListView  Class="w-100"
				  TItem="IPAddress"
				  Data="@ipAddresses"
				  TextField="@((_)=>(""))"
				  ValueField="@((_)=>(""))"
				  Mode="ListGroupMode.Static">
			<ItemTemplate>
				<ListGroupItem>
					<Row>
						<Column ColumnSize="ColumnSize.Is6">
							<Row>
								<Column >
									<Heading Size="HeadingSize.Is6" Margin="Margin.Is1.FromBottom">@context.Item</Heading>
								</Column>
							</Row>
							<Row Width="Width.Is100">
								<Column>
									<Small>IP: @context.Item</Small>
								</Column>
							</Row>
						</Column>
						<Column ColumnSize="ColumnSize.Is4.Is2.WithOffset">
							<Button Position="Position.Absolute.Top.Is50.Start.Is50.Translate.Middle" Color="Color.Dark" Clicked="@(async () => await DeviceManagmentService.RegisterDevice(context.Item,(await AuthenticationService.GetUserAsync()).ValueOrDefault))" Outline>
								<BarIcon IconName="IconName.Add" />
							</Button>
						</Column>
					</Row>
				</ListGroupItem>
			</ItemTemplate>
		</ListView>
	</Column>
</Row>

@code {
	List<IPAddress> ipAddresses = new List<IPAddress>();

	protected override async Task OnInitializedAsync()
	{
		MdnsDiscovery.OnDeviceFound += address =>
		{
			ipAddresses.Add(address);
			InvokeAsync(StateHasChanged);
		};
	}
}
