@page "/"
@using Blazorise.Components;
@using Elektrifikatsiya.Models;
@inject IVersionProvider VersionProvider
<Row>
	<Column ColumnSize="ColumnSize.Is6">
		<ListView TItem="Device"
				  Data="@plugs"
				  TextField="@((_)=>(""))"
				  ValueField="@((_)=>(""))"
				  Mode="ListGroupMode.Static">
			<ItemTemplate>
				<ListGroupItem>
					<Row>
						<Column ColumnSize="ColumnSize.Is8">
							<Row>
								<Column ColumnSize="ColumnSize.Is7">
								<Heading Size="HeadingSize.Is6" Margin="Margin.Is1.FromBottom">@context.Item.Name</Heading>
								</Column>
							</Row>
							<Row>
								<Column>
									<Small>User: @context.Item.User</Small>
									<br />
									<Small>Room: @context.Item.Room</Small>
								</Column>
								<Column ColumnSize="ColumnSize.Is5">
									<Paragraph Margin="Margin.Is1.OnY">@context.Item.PowerUsage W</Paragraph>
								</Column>
							</Row>
						</Column>
						<Column ColumnSize="ColumnSize.Is4">
							<Button Position="Position.Absolute.Top.Is50.Start.Is50.Translate.Middle" Color="Color.Dark" Outline>
								<BarIcon IconName="IconName.Bolt" />
							</Button>
						</Column>
					</Row>
				</ListGroupItem>
			</ItemTemplate>
		</ListView>
	</Column>
	<Column ColumnSize="ColumnSize.Is6">
		<ListView TItem="Event"
				  Data="@events"
				  TextField="@((_)=>(""))"
				  ValueField="@((_)=>(""))"
				  Mode="ListGroupMode.Static">
			<ItemTemplate>
				<Div Flex="Flex.InlineFlex.JustifyContent.Between" Width="Width.Is100">
					<Heading Size="HeadingSize.Is6" Margin="Margin.Is2.FromBottom">@context.Item.EventName</Heading>
					<Small>@context.Item.Date</Small>
				</Div>
				<Paragraph Margin="Margin.Is2.FromBottom">@context.Item.Description</Paragraph>
			</ItemTemplate>
		</ListView>
	</Column>
</Row>
@code {
	List<Event> events = new List<Event>() { new Event("Jude", "Alles kaputt", DateTime.Now), new Event("Jude", "Alles kaputt", DateTime.Now), new Event("Jude", "Alles kaputt", DateTime.Now) };
	List<Device> plugs = new List<Device>() { new Device("Placeholder", "Plug", System.Net.IPAddress.Broadcast, 60, "Oldin", "4AHINF"), new Device("Placeholder", "Plug", System.Net.IPAddress.Broadcast, 60, "Oldin", "4AHINF"), new Device("Placeholder", "Plug", System.Net.IPAddress.Broadcast, 60, "Oldin", "4AHINF") };
}

