@page "/Settings"
@using Blazorise.Components;
@using Elektrifikatsiya.Models;
@using System.Net
@using System.Text.Json
@using Elektrifikatsiya.Services.Implementations
@using Elektrifikatsiya.Services;
@using FluentResults

@inject IDeviceManagmentService DeviceManagmentService

<Div>
	<Row Style="width: 100%; height: 100%" Margin="Margin.Is3.FromTop.OnMobile" Padding="Padding.Is4.FromStart.OnMobile">
		<Div Display="Display.Flex.Row.OnDesktop" Margin=" Margin.Is3.FromBottom" Width="Width.Is100">
			<Column ColumnSize="ColumnSize.Is5.OnDesktop.Is12.OnMobile">
				<Bar Breakpoint="Breakpoint.Desktop"
					 Background="Background.White"
					 ThemeContrast="ThemeContrast.None"
					 Shadow="Shadow.Remove"
					 Border="Border.Is1.RoundedTop">
					<BarBrand>
						Plugs
					</BarBrand>
				</Bar>
				<ListView TItem="Device"
						  Data="@plugs"
						  TextField="@((_)=>(""))"
						  ValueField="@((_)=>(""))"
						  Style="border-radius: 0px 0px"
						  Height="100%"
						  MaxHeight="90%">
					<ItemTemplate>
						<ListGroupItem Border="Border.OnBottom">
							<Row>

								<Column ColumnSize="ColumnSize.Is6">
									<Row>
										<Column ColumnSize="ColumnSize.Is7">
											<Heading Size="HeadingSize.Is6" Margin="Margin.Is1.FromBottom">@context.Item.Name</Heading>
										</Column>
									</Row>
									<Row>
										<Column>
											<Small>User: @context.Item.User.Name</Small>
											<br />
											<Small>Room: @context.Item.Room</Small>
										</Column>
									</Row>
								</Column>

								<Column ColumnSize="ColumnSize.Is4.OnDesktop.Is7.OnMobile">
									<Button Position="Position.Absolute.Top.Is50.Start.Is50.Translate.Middle" Color="Color.Dark" Outline>
										<BarIcon @onclick="() => Delete(context.Item)" IconName="IconName.Delete" />
									</Button>
								</Column>
									<br />
									<br />
								<Row>
									<Column ColumnSize="ColumnSize.Is1.OnDesktop">
									<Button @onclick="() => Toggle(context.Item)" Position="Position.Absolute.Top.Is50.Start.Is100.Translate.Middle" Color="Color.Dark" Outline>
											<BarIcon IconName="IconName.Pen" />
										</Button>
									</Column>
								</Row>
	
							</Row>
						</ListGroupItem>
					</ItemTemplate>
				</ListView>
			</Column>
			<Column ColumnSize="ColumnSize.Is6.OnDesktop.Is12.OnMobile" Margin="Margin.Is3.FromTop.OnMobile" Padding="Padding.Is4.FromStart.OnMobile">
				
				@if (DeviceCopy is not null)
				{
				<Div hidden="@hideButtonSettings">
					<Field>
						<FieldLabel>
							<h2>
								Plug Settings
							</h2>
						</FieldLabel>
					</Field>
					<Field>
						<FieldLabel>
							<h5>
								Plug Name
							</h5>
							<Paragraph>
								Here you can change the name of your plug
							</Paragraph>
						</FieldLabel>
						<TextEdit @bind-Text="@DeviceCopy.Name" Placeholder="Enter Name" />
					</Field>
					<br />
					<br />
					<Field>
						<FieldLabel>
							<h5>
								Change Max Output
							</h5>
							<Paragraph>
								Here you can limit how much power your plug uses
							</Paragraph>
						</FieldLabel>
						<TextEdit Placeholder="Enter Max Output" />
						<!--TODO: What is this?-->
					</Field>
					<br />
					<br />
					<Field>
						<FieldLabel>
							<h5>
								Select Room
							</h5>
							<Paragraph>
								Here you select or change the room the plug belongs to.
							</Paragraph>
						</FieldLabel>
						<TextEdit @bind-text="@DeviceCopy.Room" Placeholder="Enter the name of the room here"/>
					</Field>
				</Div>
				}
				<Div hidden="@(!hideButtonSettings)">
					<Field>
						<FieldLabel>
							<h2>
								General Settings
							</h2>
						</FieldLabel>
					</Field>
					<Field>
						<FieldLabel>
							<h5>
								Electricity Price
							</h5>
							<Paragraph>
								Here you enter your electricity price. This is gonna calculate the overall Price of your System
							</Paragraph>
						</FieldLabel>
						<TextEdit Placeholder="Enter Electricity Price" />
					</Field>
				</Div>
				<Column ColumnSize="ColumnSize.IsFull" TextAlignment="TextAlignment.End">
					<Button @onclick="OnSave" Color="Color.Primary">Save</Button>
				</Column>
			</Column>
		</Div>
	</Row>
</Div>


@code {
	List<Device> plugs = new List<Device>();

	private bool hideButtonSettings = true;

	Device? SelectedDevice = null;
	Device? DeviceCopy = null;

	protected override void OnInitialized()
	{
		Result<List<Device>> getDevicesResult = DeviceManagmentService.GetDevices();

		if (getDevicesResult.IsSuccess)
		{
			plugs = getDevicesResult.Value;
		}
	}

	private void Toggle(Device device)
	{
		hideButtonSettings = !hideButtonSettings;
		SelectedDevice = device;
		DeviceCopy = Device.CopyDevice(device);
	}

	private void OnSave()
	{
		if (hideButtonSettings || DeviceCopy is null)
		{

		}
		else
		{
			SelectedDevice.OverwiteDevice(DeviceCopy);
			DeviceManagmentService.UpdateDevice(SelectedDevice);
		}
	}

	private void Delete(Device contextItem)
	{
		DeviceManagmentService.UnregisterDevice(contextItem.MacAddress);
	}

}